/**
 * Abar Font Family
 * Persian fonts for ابزارستان
 */

/* AbarLowFaNum - Low height numbers */
@font-face {
  font-family: 'Abar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('woff2/AbarLowFaNum-Regular.woff2') format('woff2'),
       url('woff/AbarLowFaNum-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Abar';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('woff2/AbarLowFaNum-SemiBold.woff2') format('woff2'),
       url('woff/AbarLowFaNum-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Abar';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('woff2/AbarLowFaNum-Bold.woff2') format('woff2'),
       url('woff/AbarLowFaNum-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Abar';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('woff2/AbarLowFaNum-ExtraBold.woff2') format('woff2'),
       url('woff/AbarLowFaNum-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Abar';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('woff2/AbarLowFaNum-Black.woff2') format('woff2'),
       url('woff/AbarLowFaNum-Black.woff') format('woff');
}
